@import "./assets/scss/utils/variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cairo";
    src: url("./assets/fonts/cairo/static/Cairo-Regular.ttf");
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: $EN-font-family; 
    font-size: $fontSize;

    h1{
        font-size: 1.25rem ;
    }
}
